<IfModule mod_rewrite.c>
  RewriteEngine On

  # If the requested file or directory exists, serve it
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Brotli
  RewriteCond %{HTTP:Accept-encoding} br
  RewriteCond %{REQUEST_FILENAME}\.br -f
  RewriteRule ^(.*)\.(js|css|html|json)$ $1.$2.br [QSA,L]

  # Gzip
  RewriteCond %{HTTP:Accept-encoding} gzip
  RewriteCond %{REQUEST_FILENAME}\.gz -f
  RewriteRule ^(.*)\.(js|css|html|json)$ $1.$2.gz [QSA,L]

  # Fallback to index.html
  RewriteRule ^ index.html [L]
</IfModule>
